[maxscale]
threads=auto

[server1]
type=server
address=mariadb-primary
port=3306
protocol=MariaDBBackend

[server2]
type=server
address=mariadb-secondary
port=3306
protocol=MariaDBBackend

[studentdb]
type=service
router=readwritesplit
servers=server1,server2
user=maxscale
password=maxscale

[studentdb-listener]
type=listener
service=studentdb
protocol=MariaDBClient
port=4006
